<h1>Product list:</h1>
<button (click)="addProduct()">Add Product</button>

<table>
  <thead>
    <tr>
      <td>Id</td>
      <td>Title</td>
      <td>Price</td>
      <td></td>
    </tr>
  </thead>
  @for(product of products; track $index){
    <tr>
      <ng-template [ngTemplateOutlet]="loadTemplate(product)"
                   [ngTemplateOutletContext]="{ $implicit: product }">
      </ng-template>
    </tr>
  }
</table>
<div>{{ message }}</div>


<ng-template #viewTemplate let-product>
  <td>{{ product.id }}</td>
  <td>{{ product.title }}</td>
  <td>{{ product.price }}</td>
  <td>
    <button (click)="editProduct(product)">Edit</button>
    <button (click)="deleteProduct(product)">Delete</button>
  </td>
</ng-template>


<ng-template #editTemplate>
  <td>
    <input [(ngModel)]="productForm.id" readonly disabled />
  </td>
  <td>
    <input [(ngModel)]="productForm.title" />
  </td>
  <td>
    <input [(ngModel)]="productForm.price" type="number" />
  </td>
  <td>
    <button (click)="saveProduct()">Save</button>
    <button (click)="cancel()">Cancel</button>
  </td>
</ng-template>
